doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    title JS Bin
    link(href='https://fonts.googleapis.com/css?family=Homemade+Apple', rel='stylesheet', type='text/css')
    link(href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css", rel='stylesheet', type='text/css')
  body
    main
      #info
        img.avatar(src='http://placehold.it/500x500')
        ul
          li
            h2
              a(href="https://ir.linkedin.com/in/mamos98")
                i.ion-social-linkedin
          li
            h2
              a(href="https://github.com/mamos98")
                i.ion-social-github
    section#projects
      h1 Projects
      ul 
        li
          a(href="http://masoudmirzaei.ir/coverfinder")
            p Cover Finder
        li
          a(href="http://github.com/neacodin/keensole")
            p Keensole
            
        li
          a(href="http://github.com/neacodin/generator-single-page")
            p Single Page Generator
            
        li
          a(href="http://github.com/neacodin/fontchi")
            p Fontchi